@model System.String
@{
    ViewBag.Title = "Submit";
}

<h2>Thank you for your feedback!</h2>

<p>We appreciate your recommendations. Keep browsing as we try to bring in new books for you. </p>
<div class="output_doc">
    <pre>@Model</pre>
</div>
