@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/bookstore.png" />
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Popular Books</h1>
        <p>
            <img src="~/Content/images/bookList.png" />
        </p>
    </div>
</div>