@model IEnumerable <BookStore.Models.RecommendedList >
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/bookstore.png" />
</div>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                @foreach(var item in Model)
                {
                    <td>
                        @{
                            <img src="/@Html.DisplayFor(modelItem => item.iImage)" alt="" height=150 width=100 /><br>
                            @Html.DisplayFor(modelItem => item.iName)
                        }
                    </td>
                }
            </tr>
        </table>
    </div>
</div>